.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 228, 196, 0.193);
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 5px;
  aspect-ratio: 0.75;
  width: 400px;
  min-width: 300px;
  min-height: 500px;
  margin: auto;
  background-color: blanchedalmond;
}

/* Screen */
.screen-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 7px;
  width: 80%;
  margin: 20px auto 10px auto;
  background-color: azure;
  font-size: 1.5rem;
}

.number-area {
  margin-left: 5px;
  margin-top: 5px;
}

.result-area {
  text-align: right;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Buttons */

.button-area {
  display: flex;
  flex-direction: column;
  flex: 3;
  width: 80%;
  margin: 0 auto 5% auto;
}

.button-row {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
}

.button-row button {
  display: flex;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 7px;
  font-size: 1.5rem;
}

.button-row .calc-button {
  width: 23%;
  aspect-ratio: 1.2;
  font-weight: 800;
  background-color: azure;
}

.button-row .big-button {
  width: 49%;
  height: 90%;
}

.button-row span {
  margin: auto;
}

.button-row .operation-button {
  width: 23%;
  aspect-ratio: 1.2;
  font-weight: 800;
  background-color: rgba(255, 166, 0, 0.69);
}

.button-row .equals-button {
  width: 23%;
  aspect-ratio: 1.2;
  font-weight: 800;
  background-color: skyblue;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.49) !important;
}

button:active {
  background-color: rgba(255, 0, 0, 0.37) !important;
}
