body {
  padding: 0;
  border: 0;
  background-color: rgba(128, 128, 128, 0.435);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  min-width: 700px;
  aspect-ratio: 1;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: antiquewhite;
  border: 5px solid black;
}

.inputs {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 10%;
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(124, 124, 124, 0.124);
}

.input-element {
  display: flex;
  flex-direction: row;
  height: 50%;
  margin: auto;
  text-align: center;
}

.input-element button {
  min-width: 100px;
}

.input-element select {
  height: 25px;
  margin: auto 10px;
}

.input-element input {
  margin: auto 10px;
}

.input-element p {
  margin: auto;
}

.draw-area {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border: 1px solid black;
  width: 50%;
  height: 50%;
  aspect-ratio: 1;
  margin: auto;
  background-color: white;
  border: 3px solid black;
}

.grid-div {
  border: 1px solid black;
  display: flex;
  aspect-ratio: 1;
  justify-content: center;
}
